{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Supplier *</label>
                        {{ form.supplier }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Order Date *</label>
                            {{ form.order_date }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Expected Delivery</label>
                            {{ form.expected_delivery }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Notes</label>
                        {{ form.notes }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-arrow-right"></i> Continue to Add Items
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
